/* customize bootstrap style*/

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

// container padding
@mixin make-container($padding-x: $container-padding-x, $multiple: 0.833333335) {
    width: 100%;
    padding-right: $padding-x * $multiple;
    padding-left: $padding-x * $multiple;
    margin-right: auto;
    margin-left: auto;
}

.container {
    @include make-container();
}

// font size

$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
);

$utilities: (
    "font-size": (
        rfs: true,
        property: font-size,
        class: fs,
        values: $font-sizes,
    ),
);

@import "bootstrap/scss/utilities/api"; // revise utilities
